$dark-blue: hsla(219, 22%, 16%, 1);
$neon-green: hsla(150, 100%, 66%, 1);
$clr-text: hsla(193, 38%, 86%, 1);
$bg-grayish-blue: hsla(217, 19%, 24%, 1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

body {
  background-color: $dark-blue;
  font-family: "Manrope", sans-serif;
  display: grid;
  place-content: center;
  align-items: center;
  height: 100vh;
  .container {
    position: relative;
    display: flex;
    background: $bg-grayish-blue;
    border-radius: 15px;
    overflow-wrap: hidden;
    padding: 3rem 3rem 4.5rem 3rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 540px;
    gap: 1.5rem;

    @include mobile() {
      max-width: auto;
      padding: 2.5rem 1.5rem 4rem 1.5rem;
    }

    .title {
      color: $neon-green;
      font-size: 0.8125rem;
      text-transform: uppercase;
      letter-spacing: 0.25538rem;
      text-align: center;
      @include mobile() {
        font-size: 0.6875rem;
        letter-spacing: 0.21606rem;
      }
    }
    .advice {
      text-align: center;
      color: $clr-text;
      font-size: 1.75rem;
      letter-spacing: -0.01875rem;
      line-height: normal;
      @include mobile() {
        max-width: 295px;
        // padding: 0 1rem;
        font-size: 1.5rem;
        letter-spacing: -0.01606rem;
      }
    }
    .divider {
      @include mobile() {
        max-width: 265px;
        padding: 0 1rem;
      }
    }

    .dice {
      position: absolute;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $neon-green;
      width: 64px;
      height: 64px;
      padding: 1.1rem;
      border-radius: 50%;
      bottom: -9.5%;
    }
  }
}
